## Imports

In [63]:
import os
import sys

import numpy as np
import pandas as pd

## Read data

In [64]:
BERTWEET_SUBMISSION_FILE = 'submissions/bertweet_submission.csv'
XLNET_SUBMISSION_FILE = 'submissions/xlnet_submission.csv'
ROBERTA_SUBMISSION_FILE = 'submissions/roberta_submission.csv'

MAJORITY_VOTING_SUBMISSION_FILE = 'majority_voting_submission.csv'

In [65]:
xlnet_predictions_df = pd.read_csv(XLNET_SUBMISSION_FILE, names=['Id', 'xlnet_predictions'], dtype = {'Id': int, 'Prediction': int}, delimiter=',', header=None, skiprows=1, index_col='Id')
xlnet_predictions_df.head()

    xlnet_predictions
Id
1                  -1
2                  -1
3                  -1
4                   1
5                  -1

In [66]:
roberta_predictions_df = pd.read_csv(ROBERTA_SUBMISSION_FILE, names=['Id', 'roberta_predictions'], dtype = {'Id': int, 'Prediction': int}, delimiter=',', header=None, skiprows=1, index_col='Id')
roberta_predictions_df.head()

    roberta_predictions
Id
1                    -1
2                    -1
3                    -1
4                     1
5                    -1

In [67]:
bertweet_predictions_df = pd.read_csv(BERTWEET_SUBMISSION_FILE, names=['Id', 'bertweet_predictions'], dtype = {'Id': int, 'Prediction': int}, delimiter=',', header=None, skiprows=1, index_col='Id')
bertweet_predictions_df.head()

    bertweet_predictions
Id
1                     -1
2                     -1
3                     -1
4                      1
5                     -1

In [68]:
predictions_df = bertweet_predictions_df.join(roberta_predictions_df, on='Id').join(xlnet_predictions_df, on='Id')
predictions_df.head()

    bertweet_predictions  roberta_predictions  xlnet_predictions
Id
1                     -1                   -1                 -1
2                     -1                   -1                 -1
3                     -1                   -1                 -1
4                      1                    1                  1
5                     -1                   -1                 -1

## Majority voting

In [69]:
sum_df = predictions_df.apply(np.sum, axis=1)
sum_df.head()

Id
1   -3
2   -3
3   -3
4    3
5   -3
dtype: int64

In [70]:
majority_voting_df = sum_df.apply(lambda x: 1 if x > 0 else -1)
majority_voting_df.head()

Id
1   -1
2   -1
3   -1
4    1
5   -1
dtype: int64

In [71]:
majority_voting_df.to_csv(MAJORITY_VOTING_SUBMISSION_FILE, sep=',', header=["Prediction"], index=True)